
.icons {
    display: flex;
}

.profile {
    display: flex;
    margin-right: 1em;

}
.modify {
  margin-left: -2em;
}

.delete {
    margin-left: -3em;
    font-family:cursive;
}

p {
    
    font-size: 0.6em;
}