.placeholder-row3 {
    height: 2.79em;
}

.cita {
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
    cursor: pointer;

}

.setings {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.delete {
    width: 1.5em;
    height: 1.5em;
    cursor: crosshair;
}

.table .status {
    display: contents;

}
