.placeholder-row2 {
    height: 2.55em;
}

.cita {
    width: 1.5em;
    height: 1.5em;
    margin: 0.1em;
    cursor: pointer;

}

.setings {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.delete {
    width: 1.5em;
    height: 1.5em;
    cursor: crosshair;
}
