.mb-3 {
    display: center;
    justify-content: center;
}

.celda {
    width: 7em;
}

.table-responsive {
    margin: 0 auto;
    padding: 20px;
} 

@media (max-width: 768px){
    .Id {
        display: none;
    }
  
}