.navBar{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: aliceblue;
}

.exit {
    width: 5em;
    height: 2em;
}

.d-flex {
    margin-right: auto;
    display: right;
}